/* [project]/src/css/satoshi.css [app-client] (css) */
@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-Light.7098edd4.woff2") format("woff2"), url("../media/Satoshi-Light.e6a6e6e4.woff") format("woff"), url("../media/Satoshi-Light.3e0148d4.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-LightItalic.6269b419.woff2") format("woff2"), url("../media/Satoshi-LightItalic.2dcfc908.woff") format("woff"), url("../media/Satoshi-LightItalic.a508248b.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-Regular.8b170606.woff2") format("woff2"), url("../media/Satoshi-Regular.46319faf.woff") format("woff"), url("../media/Satoshi-Regular.6dac5793.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-Italic.95209c75.woff2") format("woff2"), url("../media/Satoshi-Italic.182f3eee.woff") format("woff"), url("../media/Satoshi-Italic.c75a5028.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-Medium.eae7bb78.woff2") format("woff2"), url("../media/Satoshi-Medium.d2de4ea6.woff") format("woff"), url("../media/Satoshi-Medium.2f9b02b8.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-MediumItalic.3f447606.woff2") format("woff2"), url("../media/Satoshi-MediumItalic.246d37b9.woff") format("woff"), url("../media/Satoshi-MediumItalic.7da432ec.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-Bold.fc9d5d15.woff2") format("woff2"), url("../media/Satoshi-Bold.6032eaca.woff") format("woff"), url("../media/Satoshi-Bold.3ef8ab9e.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-BoldItalic.9770ec13.woff2") format("woff2"), url("../media/Satoshi-BoldItalic.cc00860e.woff") format("woff"), url("../media/Satoshi-BoldItalic.3fc97f34.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-Black.34b6b362.woff2") format("woff2"), url("../media/Satoshi-Black.4fcfb1ea.woff") format("woff"), url("../media/Satoshi-Black.0e524423.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("../media/Satoshi-BlackItalic.683878aa.woff2") format("woff2"), url("../media/Satoshi-BlackItalic.174c5b77.woff") format("woff"), url("../media/Satoshi-BlackItalic.36b5beb6.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

/*# sourceMappingURL=src_css_satoshi_css_bad6b30c._.single.css.map*/